@model IEnumerable<MovieRental.Models.Movie>
@{
    ViewData["Title"] = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="text-center">
    <h1 class="display-4">Movies</h1>
    <div class="form-group" style="width: 180px; text-align: start">
        @Html.ActionLink(" + New Movie", "New", "Movie", null, new { @class = "btn btn-primary" })
    </div>
    <br />
    <table id="movie" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Genre</th>
                <th>Number Of Stock</th>
                <th>Release Date</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var movie in @Model.ToList())
            {
                <tr>
                    <td>@movie.Id</td>
                    <td>@Html.ActionLink(movie.Name, "Edit", "Movie", new { id = movie.Id })</td>
                    <td>@movie.Genre.Name</td>
                    <td>@movie.NumberOfStock</td>
                    <td>@movie.ReleaseDate.ToString("d MMM yyyy")</td>
                    @*<td><button data-movie-id="@movie.Id" class="btn btn-secondary js-delete" style="height: 40px; width: 40px;
                        border:hidden;background:none;" onclick="location.href='@Url.Action("Remove", "Movie", new { id = movie.Id })'">
                        <b><label style="font-size: medium;color:red;">X</label></b></button></td>*@
                    <td>
                        <button data-movie-id="@movie.Id" value="Delete" class="btn js-delete" style="height: 40px; width: 40px; font-size: medium; color: red; border: hidden; background: none;">
                            X
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section scripts
{
    <script src="~/js/custom/movie.js"></script>
}