@model IEnumerable<MovieRental.Models.Customer>
@{
    ViewData["Title"] = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="text-center">
    <h1 class="display-4">Customers</h1>
    <div class="form-group" style="width: 180px; text-align: start">
        @Html.ActionLink(" + New Customer", "New", "Customer", null, new { @class = "btn btn-primary" })
    </div>
    <br />
    <table id="customer" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Birth Date</th>
                <th>Membership Type</th>
                <th>Discount Rate</th>
                <th>Subscribed To NewsLetter?</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in @Model.ToList())
            {
            <tr>
                <td>@customer.Id</td>
                <td>@Html.ActionLink(customer.Name, "Edit", "Customer", new { id = customer.Id })</td>
                <td>@customer.Email</td>
                @if (customer.BirthDate != null)
                {
                    <td>@(((DateTime)customer.BirthDate).ToString("d MMM yyyy"))</td>
                }
                else
                {
                    <td></td>
                }
                <td>@customer.MembershipType.Name</td>
                <td>@customer.MembershipType.DiscountRate%</td>
                @if (customer.IsSubscribedToNewsLetter)
                {
                    <td>Yes</td>
                }
                else
                {
                    <td>No</td>
                }
                @*<td><button data-customer-id="@customer.Id" class="btn btn-secondary js-delete" style="height: 40px; width: 40px;  border:hidden;background:none;" onclick="location.href='@Url.Action("Remove", "Customer", new { id = customer.Id })'">
                <b><label style="font-size: medium;color:red;">X</label></b></button></td>*@
                <td> <button data-customer-id="@customer.Id" value="Delete" class="btn-link js-delete" style="height: 40px; width: 40px; border:hidden;background:none;">
                 <b><label style="font-size: medium;color:red;">X</label></b></button></td>
            </tr>
            }
        </tbody>
    </table>
</div>
@section scripts
{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/customer.js"></script>    
}